@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="~/css/styleRegister.css" asp-append-version="true" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body class="bodyRegister">
  <div class="container">
      <p class="logo"><img src="/images/logo4.jpg" height="200" width="300" border="0" /></p>
    <div class="title">PRIJAVITE SE NA SVOJ RAČUN</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Korisničko ime: </span>
            <input type="text" placeholder="Unesite vaše korisničko ime" required>
          </div>
          <div class="input-box">
            <span class="details">Šifra: </span>
            <input type="text" placeholder="Unesite vašu šifru" required>
          </div>
         
        <div class="button">
          <input type="submit" value="Login">
        </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

