@{
    ViewData["Title"] = "Home Page";
}


<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="~/css/styleHome.css" asp-append-version="true" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body class="bodyHome">

<div class="text-center">
    <h1 class="display-4">Dobrodošli na ZIE Parking</h1>
    <p><img src="/images/logo4.jpg" height="200" width="300" border="0" /></p>
</div>

<div class="body">
    <h2>ZIE Parking je platforma koja vam</h2>
    <ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Kao korisniku</h3>
		<p>
			olakšava pronalaženje parkinga u vašoj okolini. 
			Imate opcije: uvid u broj slobodnih parking mjesta, zauzimanje i oslobađanje parking mjesta! 
		</p>
		
	</li>
	<li>
		<h2>02</h2>
		<h3>Kao vlasniku</h3>
		<p>
			pomaže vašem parkingu tako što otvorite parking na našoj platformi i dobijate besplatnu reklamu!
			Imate opcije: otvaranje, odnosno objavljivanje parkinga; brisanje parkinga iz sistema; mijenjanje cijene već otvorenog parkinga
		</p>
		
	</li>
	<li>
		<h2>03</h2>
		<h3>Kao radniku</h3>
		<p>
			olakšava vam posao tako što vam pomaže prilikom regulisanja i praćenja slobodnih/zauzetih/rezervisanih parking mjesta.
			Imate opcije: izdavanje računa; uvid u broj slobodnih mjesta; provjera validnosti tablica vozila; odobravanje izlaska/ulaska na parking
		</p>
		
	</li>
	<li>
		<h2>04</h2>
		<h3>Kao VIP korisniku</h3>
		<p>
			olakšava pronalaženje parkinga u vašoj okolini i pomaže vam da sačuvate vrijeme rezervacijom parking mjesta. 
			Imate opcije: uvid u broj slobodnih parking mjesta, zauzimanje, oslobađanje i rezervacija parking mjesta
		</p>
		
	</li>
</ul>
</div>

</body>
</html>
