@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="~/css/styleRegister.css" asp-append-version="true" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body class="bodyRegister">
  <div class="container">
      <p class="logo"><img src="/images/logo3.png" height="200" width="300" border="0" /></p>
    <div class="title">REGISTRACIJA</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Ime: </span>
            <input type="text" placeholder="Unesite vaše ime" required>
          </div>
          <div class="input-box">
            <span class="details">Prezime: </span>
            <input type="text" placeholder="Unesite vaše prezime" required>
          </div>
          <div class="input-box">
            <span class="details">Korisničko ime:</span>
            <input type="text" placeholder="Unesite vaše korisničko ime" required>
          </div>
          <div class="input-box">
            <span class="details">Šifra:</span>
            <input type="text" placeholder="Unesite šifru" required>
          </div>
          <div class="input-box">
            <span class="details">JMBG:</span>
            <input type="text" placeholder="Unesite vaš JMBG" required>
          </div>
          <hr />
          <div class="input-box">
            <span class="details">Tablice vozila (samo za korisnike):</span>
            <input type="text" placeholder="Unesite tablice vašeg vozila" >
          </div>
        </div>
        <span class="details">Uloga u sistemu:</span>
        <div class="uloga-details">
                                                                                                                        
          <div><label for="dot-1">Korisnik </label><input type="radio" name="uloga" id="dot-1">                          </div>
          <div><label for="dot-2">VIP Korisnik </label><input type="radio" name="uloga" id="dot-2">                      </div>
          <div><label for="dot-3">Radnik na parkingu </label><input type="radio" name="uloga" id="dot-3">                </div>
          <div><label for="dot-4">Radnik na održavanju sistema </label><input type="radio" name="uloga" id="dot-4">      </div>
          <div><label for="dot-5">Vlasnik </label><input type="radio" name="uloga" id="dot-5">                     </div>
          
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
