.btn-primary{
    font-size: 30px;
    margin: 10px;
}
body {
    background-color: #262a2b;
}
.section1{
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}
.section2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
h3{
    color: white;
}
h1{
    margin-bottom: 50px;
    color: white;
}
.btn {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #aa6c39, #FFD700);
}

    .btn:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #aa6c39, #FFD700);
    }


